@using ToDoList.WebApp.Models.ViewModels
@model TaskStatsViewModel

@{
    string chartTitle = "Tasks Chart";
}
<div class="d-flex col-12">
    <div class="row-4">
        <p>Tasks completed: @Model.TasksDoneCount</p>
        <p>Tasks in progress: @Model.TasksInProgressCount </p>
        <p>Tasks not started yet: @Model.TasksNotStarted</p>
    </div>
    <div class="row-8">
        <div id="taskChart" style="width:500px; height:500px"></div>
    </div>
</div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart(){
            var data = google.visualization.arrayToDataTable([
                ['Tasks', 'Amount'],
                ['Completed', @Model.TasksDoneCount], 
                ['In progress', @Model.TasksInProgressCount], 
                ['Not Started', @Model.TasksNotStarted]
            ]
        );
        var options = {title: 'Tasks', width:'90%', height:'100%', chartArea: {width: '500px', height: '500px'}};
        var chart = new google.visualization.PieChart(document.getElementById('taskChart'));
        chart.draw(data, options);
     }
</script>