@using Microsoft.AspNetCore.Identity
@using Todo.Domain.Entities
@using ToDoList.WebApp.Models.Home
@inject SignInManager<AppUser> signInManager;
@model HomePageViewModel

@{
    ViewData["Title"] = "Todoapp - create useful task lists";
}

@if (!signInManager.IsSignedIn(User))
{
    <partial name="StartPage" />
}
else {
    <div class="text-center m-1 p-2">
        <h1>Hello, <span class="text-warning">@User.Identity.Name!</span></h1>
        <h2>Nice to see <span class="text-primary">You</span> again!</h2>
        <p>Today is <strong class="text-success"> @DateTime.Now.Date.DayOfWeek </strong>, @string.Format(@DateTime.Now.ToString(), "dd-mm-yyyy")</p>
    </div>
    <div class="d-flex text-center">
        <div class="p-5 w-75">
            @if (@Model.Lists.Any())
            {
                @foreach (var t in @Model.Lists)
                {
                    <partial name="StartPageTasksListSummary" model="@t"/>
                }
            }
            else {
                <h3>No important tasks - maybe add something?</h3>
            }
        </div>
        <div class="p-5">
            <partial name = "WeatherPartialView" model="@Model.Weather" />
        </div>
        </div>
}
