@using Todo.Domain.Entities
@model ShoppingList

<div class = "card col-6 text-center">
    <div class="card-header">
        <strong>@Model.Title</strong>
    </div>
    <div class="card-body">
        @Model.Description
        <strong>@Model.DueDate.ToShortDateString()</strong>
    </div>
    <div class="card-footer">
        <div class="btn btn-group">
            <a class="btn btn-primary m-1" asp-controller="ShoppingList" asp-action="Edit" asp-route-id="@Model.Id">
                <i class="bi bi-pen-fill"></i>
            </a>
            <a class="btn btn-danger m-1" asp-controller="ShoppingList" asp-action="Remove" asp-route-id="@Model.Id">
                <i class="bi bi-trash-fill"></i>
            </a>
        </div>
    </div>
</div>