@model DailyWeatherViewModel

<div class="card text-white align-content-center" id="banner" style="background-color:#66ccff;">
    <h1>Your weather today</h1>
    <div class="card card-body" style="background-color:#66ccff">
        <p><img src="@Model.Icon" /></p>
        <p>Temp. <b>@Model.Temp_C ℃ </b></p>
        <small>Feels like: <b>@Model.Temp_FeelsLike_C ℃</b></small>
        <p>Humidity <b>@Model.Humidity % </b></p>
        <p>Wind <b>@Model.Wind_Kph km/h </b> <b>@Model.Wind_Dir<</b> </p>
        <p>Press <b>@Model.Pressure_Mb hPa </b></p>
        <p>Cloud <b>@Model.Cloud % </b></p>
    </div>
    <div class="card card-footer">
        <small>Source: WeatherApi</small>
    </div>
</div>
